<p style="color: green"><%= notice %></p>

<div id="posts-container">
  <div class="column1" id="left-column">
    <img src="https://placehold.co/200x250" width="200" height="250">
    <p>You: <%= current_user.email %></p>

    <p>Followers</p>
    <ul>
      <% current_user.followers.includes(:follower).each do |follower| %>
      <li><%= link_to follower.follower.email, user_path(follower.follower) %></li>
      <% end %>
    </ul>

    <p>Following for</p>
    <ul>
      <% current_user.following.includes(:user).each do |user| %>
      <li><%= link_to user.user.email, user_path(user.user) %></li>
      <% end %>
    </ul>
  </div>

  <div class="column2" id="right-column">
    <h3>Posts feed</h3>
    <% @posts.each_with_index do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>